* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

section {
    background: white url('../img/Layer6.png');
}

.logo-wrapper {
    padding-left: 50px;
    background-color: #314089;
    height: 60px;
    display: flex;
    align-items: center;
}

.logo {
    font-size: 22px;
    font-weight: 700;
    color: #FFFFFF;
}

.container {
    max-width: 950px;
    margin: 0 auto;
    background-color: #F7F4F3;
    height: 600px;
}

.stave {
    position: relative;
    padding-top: 5px;
}

.line {
    border-bottom: 2px solid black;
    
    height: 18px;
}

.line:not(.extra-line, :nth-child(6)) {
    border-left: 4px solid black;
}

.extra-line {
    width: 33px;
    margin-left: 70px;
    opacity: 1;
}

.trebleClef {
    display: block;
    position: absolute;
    top: 102px;
    left: 10px;
    width: 47px;
}

.bassClef {
    display: none;
    position: absolute;
    top: 113px;
    left: 10px;
    width: 47px;
}

.whole-note {
    display: none;
    position: absolute;
    height: 18px;
    left: 71px;
}

.show-content {
    display: block;
}

.hide-content {
    display: none;
}

/* first octave */

.note-C-first {
    top: 193px;
}

.note-D-first {
    top: 184px;
}

.note-E-first {
    top: 175px;
}

.note-F-first {
    top: 166px;
}

.note-G-first {
    top: 157px;
}

.note-A-first {
    top: 148px;
}

.note-B-first {
    top: 139px;
}

/* second octave */

.note-C-second {
    top: 130px;
}

.note-D-second {
    top: 121px;
}

.note-E-second {
    top: 112px;
}

.note-F-second {
    top: 103px;
}

.note-G-second {
    top: 94px;
}

.note-A-second {
    top: 85px;
}

.note-B-second {
    top: 76px;
}

/* third octave */

.note-C-third {
    top: 67px;
}

.note-D-third {
    top: 58px;
}

.note-E-third {
    top: 49px;
}

.note-F-third {
    top: 40px;
}

.note-G-third {
    top: 31px;
}

.note-A-third {
    top: 22px;
}

.note-B-third {
    top: 13px;
}

/* small octave */

.note-C-small {
    top: 148px;
}

.note-D-small {
    top: 139px;
}

.note-E-small {
    top: 130px;
}

.note-F-small {
    top: 121px;
}

.note-G-small {
    top: 112px;
}

.note-A-small {
    top: 103px;
}

.note-B-small {
    top: 94px;
}

/* great octave */

.note-C-great {
    top: 211px;
}

.note-D-great {
    top: 202px;
}

.note-E-great {
    top: 193px;
}

.note-F-great {
    top: 184px;
}

.note-G-great {
    top: 175px;
}

.note-A-great {
    top: 166px;
}

.note-B-great {
    top: 157px;
}

/* contra octave */

.note-C-contra {
    top: 274px;
}

.note-D-contra {
    top: 265px;
}

.note-E-contra {
    top: 256px;
}

.note-F-contra {
    top: 247px;
}

.note-G-contra {
    top: 238px;
}

.note-A-contra {
    top: 229px;
}

.note-B-contra {
    top: 220px;
}

.btn-wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.button {
    margin: 0 10px 0 10px;
    cursor: pointer;
    border-radius: 0%;
    border: 2px solid #EAF8FF;
    width: 90px;
    height: 40px;
    font-weight: 700;
    color: #EAF8FF;
    background-color: #03379E;
}

.answer {
    font-weight: 700;
    margin-top: 40px;
    display: none;
    width: 120px;
    text-align: center;
}

.correct {
    border: 2px solid green;
    display: block;
}

.incorrect {
    border: 2px solid #FF0000;
    display: block
}