* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

section {
    background: white url('../img/Layer6.png');
}


.logo-wrapper {
    padding-left: 50px;
    background-color: #314089;
    height: 60px;
    display: flex;
    align-items: center;
}

.logo {
    font-size: 22px;
    font-weight: 700;
    color: #FFFFFF;
}

.container {
    max-width: 950px;
    margin: 0 auto;
    background-color: #F7F4F3;
    height: 600px;
}

.stave {
    position: relative;
    padding-top: 5px;
}

.line {
    border-bottom: 2px solid black;
    
    height: 18px;
}

.line:not(.extra-line, :nth-child(6)) {
    border-left: 4px solid black;
}

.extra-line {
    width: 33px;
    margin-left: 70px;
    opacity: 0;
}

.trebeClef {
    display: block;
    position: absolute;
    top: 102px;
    left: 10px;
    width: 47px;
}

.whole-note {
    display: none;
    position: absolute;
    height: 18px;
}

.note-C {
    display: block;
    top: 193px;
    left: 71px;
}

.note-D {
    display: block;
    top: 184px;
    left: 71px;
}

.note-E {
    display: block;
    top: 175px;
    left: 71px;
}

.note-F {
    display: block;
    top: 166px;
    left: 71px;
}

.note-G {
    display: block;
    top: 157px;
    left: 71px;
}

.note-A {
    display: block;
    top: 148px;
    left: 71px;
}

.note-B {
    display: block;
    top: 139px;
    left: 71px;
}

.btn-wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.button {
    margin: 0 10px 0 10px;
    cursor: pointer;
    border-radius: 0%;
    border: 2px solid #EAF8FF;
    width: 90px;
    height: 40px;
    font-weight: 700;
    color: #EAF8FF;
    background-color: #03379E;
}

.answer {
    font-weight: 700;
    margin-top: 40px;
    display: none;
    width: 120px;
    text-align: center;
}

.correct {
    border: 2px solid green;
    display: block;
}

.incorrect {
    border: 2px solid #FF0000;
    display: block
}